::-webkit-selection {
  background:#faf2f8;
  color:#111;
}
::-moz-selection {
  background:#faf2f8;
  color:#111;
}
::selection {
  background:#faf2f8;
  color:#111;
}

img,
object,
video {
  border:0;
  max-width:100%;
}

iframe {
  width: 100%!important;
}

img {
  border:0;
  -ms-interpolation-mode: bicubic;
  vertical-align:middle;
}

.visuallyhidden {
  text-indent:-99999em;
  outline:0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  box-sizing: border-box; /* Opera/IE 8+ */
}

html {
  background: $brand-secondary;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  font-weight:300;
  background-color: $body-bg;
  &:after {
    background: red;
    color: #fff;
    content: "column";
    right: 0;
    padding: .5em 1em;
    position: fixed;
    text-align: center;
    top: 0;
    z-index:999;
    @include xsmall {
      background: red;
      content: "xsmall";
    }
    @include small {
      background: pink;
      content: "small";
    }
    @include medium {
      background: purple;
      content: "medium";
    }
    @include large {
      background: green;
      content: "large";
    }
    @include xlarge {
      background: blue;
      content: "xlarge";
    }
    @include xxlarge {
      background: orange;
      content: "xxlarge";
    }
  }
}

.container-fluid {
  > .row {
    @include large {
      max-width:75em/*1200px/16*/;
      margin-left:auto;
      margin-right:auto;
    }
  }
}

.contentwrap {
  padding-top:$baseline*1.5;
  padding-bottom:$baseline*1.5;
}

.padding-inner {
  @include medium {
    padding-left:1%;
    padding-right:1%;
  }
}
.main-content {
  padding-top:$baseline/3.5;
  @include small {
   // padding-right:3%;
  }
  @include medium {
    padding-right:4%;
  }
}

hr {
  background:$alto;
  border:none;
  height: 1px;
  margin:$baseline*2 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  clear:both;
}