/*media queries*/
@mixin xsmall            { @media (min-width: $screen-xs-min) { @content; }}
@mixin xsmall-only       { @media (max-width: $screen-xs-max) { @content; }}
@mixin small             { @media (min-width: $screen-sm-min) { @content; }}
@mixin small-only        { @media (max-width: $screen-sm-max) { @content; }}
@mixin medium            { @media (min-width: $screen-md-min) { @content; }}
@mixin medium-only       { @media (max-width: $screen-md-max) { @content; }}

@mixin large             { @media (min-width: $screen-lg-min) { @content; }}
@mixin xlarge            { @media (min-width: $screen-xlg-min) { @content; }}
@mixin xxlarge           { @media (min-width: $screen-xxlg-min) { @content; }}

/*sprite position*/
@mixin sprite($bgcolor, $pos1: 0, $pos2: 0) {
  background: $bgcolor url('../../img/sprites/sprite.png') no-repeat $pos1 $pos2;
  background: $bgcolor url('../../img/sprites/sprite.svg') no-repeat $pos1 $pos2;
}

/*standard transition - preload avoids transition on page load (js in head of page)*/
.preload * {
  transition: all none;
}
/*standard transition*/
@mixin trans {
  transition:
  background-color .25s ease-in-out,
  opacity .25s ease-in-out,
  border .25s ease-in-out,
  color .25s ease-in-out,
  box-shadow .25s ease-in-out,
  text-shadow .25s ease-in-out,
  text-decoration-color .25s ease-in-out;
}

@mixin img-border {
  border: 1px solid $alto;
}
@mixin img-border-link {
  border: 1px solid $alto;
}
@mixin img-border-link-hover {
  border-color:$brand-primary;
}

.padding-top {
  padding-top:$baseline*1.5;
}

.border-top {
  border-top:1px solid $alto;
}

.border-bottom {
  border-bottom:1px solid $alto;
}

.gradient-top {
  @include gradient-vertical(#fbfbfb, #fff, 0%, 100%);
}

.gradient-bottom {
  @include gradient-vertical(#fff, #fbfbfb, 0%, 100%);
}

