/* Heading text: Futura - Typekit */
//light
@mixin heading_light {
  font-family: serif; font-weight:300; font-style:normal;
  .wf-futurapt-n3-active & { font-family:futura-pt,Trebuchet MS,Arial,sans-serif; }
}
//book
@mixin heading_medium {
  font-family: serif; font-weight:400; font-style:normal;
  .wf-futurapt-n4-active & { font-family:futura-pt,Trebuchet MS,Arial,sans-serif; }
}
//medium
@mixin heading_bold {
  font-family: serif; font-weight:500; font-style:normal;
  .wf-futurapt-n5-active & { font-family:futura-pt,Trebuchet MS,Arial,sans-serif; }
}

/* Body text: Open Sans - Google font */
@mixin sansserif_light {
  font-family: sans-serif; font-weight:300; font-style:normal;
  .wf-opensans-n3-active & { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
}
@mixin sansserif_regular {
  font-family: sans-serif; font-weight:400; font-style:normal;
  .wf-opensans-n4-active & { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
}
@mixin sansserif_semibold {
  font-family: sans-serif; font-weight:600; font-style:normal;
  .wf-opensans-n6-active & { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
}
@mixin sansserif_bold {
  font-family: sans-serif; font-weight:700; font-style:normal;
  .wf-opensans-n7-active & { font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include heading_medium;
  margin-bottom:18px;
  margin-top:18px;
  a {
    @include heading_bold;
  }
  strong,
  b {
    @include heading_bold;
  }
}

h1 {
  font-size: $font-size-h1-small;
  @include small {
    font-size: $font-size-h1;
  }
}
h2 {
  font-size: $font-size-h2-small;
  @include small {
    font-size: $font-size-h2;
  }
}
h3 {
  font-size: $font-size-h3-small;
  @include small {
    font-size: $font-size-h3;
  }
}
h4 {
  font-size: $font-size-h4-small;
  @include small {
    font-size: $font-size-h4;
  }
}

.panel-leader,
.contentwrap,
.panel-fullwidth {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    &:first-of-type {
      margin-top:0;
    }
  }
  .main-content {
    h1, h2,
    .h1, .h2 {
      &:first-of-type {
        margin-bottom: 38px;
      }
    }
  }
}

em {
}

.text-larger {
  font-size: ($font-size-base * 1.05);
}
.margin-base-larger {
  margin-bottom: $baseline/2;
}
p,
ul,
ol {
  margin-bottom:$baseline;
  margin-top:0;
  strong,
  b {
    font-weight:400;
    color: #000;
    a {
      font-weight: 500;
    }
  }
}

small {
  font-size: $font-size-small;
  @include sansserif_light;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
}

mark {
  background: rgba(0,0,0,.085);
  border-radius: 4px;
  padding:4px 10px;
  margin-left: 4px;
  margin-right: 4px;
}

.monospace,
code,
kbd,
samp,
var {
  font-size: inherit;
}

dfn,
var {
  color:$brand-secondary;
}

kbd {
  padding:4px 6px;
  border-radius:4px;
  border:1px solid $gray-lighter;
}

pre {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

code {
  color: #d00000;
}

/*default link styles */
a {
  color:$link-color;
  text-decoration:none;
  font-weight:400;
  @include trans;
  &:hover {
    color:$link-hover-color;
    text-decoration:underline;
  }
  .contentwrap & {
    text-decoration:underline;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6  {
    color:$link-color;
    text-decoration:none;
    &:hover {
      color:$link-hover-color;
      text-decoration:underline;
    }
  }
}

a.tel {
  cursor:text;
  color: $text-color;
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
}

ul {
  margin-left:32px;
  padding-left:0;
  li {
    margin:0 0 8px 0;
    padding-left:6px;
    ul {
      margin-top: 12px;
      padding-left:0;
      margin-left: 15px;
      li {
        padding-left:6px;
      }
    }
  }
}

ol {
  counter-reset: item;
  display: block;
  padding-left:0;
  margin-left:11px;
  li {
    margin:0 0 8px 0;
    padding-left:8px;
    display: block;
    &:before {
      content: counters(item, ".") ".";
      counter-increment: item;
      padding-right: 10px;
      @include sansserif_regular;
    }
    ol {
      margin-top: 12px;
      padding-left:0;
      margin-left: 15px;
      li {
        padding-left:6px;
      }
    }
  }
}

.text-center,
.text-right {
  @include small-only {
    text-align: left;
  }
}