/*==START single column menu format*/

//hamburger and Site navigation text, full width format
#toggleNav.iconbar {
  @include sprite(transparent,5px,0);
  background-color:$sushi;
  display:block;
  margin:0 auto;
  padding:0;
  padding:14px 20px 14px 60px;
  font-size:20px;
  line-height:23px;
  color: #fff;
  cursor:pointer;
  @include heading_bold;
  &:hover {
    text-decoration:none;
    //background-color:$brand-primary;
  }
  &.active {
    background-color:$sushi;
    color: #fff;
  }
}

//expanding nav items
@include small-only {
  .navList {
    width:100%;
    position:relative;
    text-align:left;
    overflow:hidden;
    float:left;
    background:$sushi;
    z-index: 10;
    &.active {
      display:block;
    }
    .navwrap {
      display:none;
    }
    ul {
      padding:12px 0 0 0;
      width:100%;
      margin:0;
      text-align:left;
      position: relative;
      padding-top:10px;
      li {
        display:block;
        margin:0;
        padding:0 $grid-gutter-width/2;
        float:none;
        overflow:hidden;
        a {
          display:block;
          color:#fff;
          text-decoration:none;
          padding:6px 20px 6px 0;
          float:none;
          margin:0 30px 0 0;
          @include heading_medium;
          font-size: floor(($font-size-base * 1.165));
          display: inline-block;
          &:hover {
            color:#fff;
            text-decoration:none;
          }
        }
        &.active {
          a {
            color: #fff;
            @include heading_bold;
            text-shadow:1px 1px 1px rgba(0,0,0,.25);
          }
          ul li a {
            color:#fff;
            @include heading_medium;
          }
          ul li.active a {
            color: #fff;
            @include heading_bold;
            text-shadow:1px 1px 1px rgba(0,0,0,.25);
          }
        }
        ul {
          display:none;
          overflow:hidden;
          position: static;
          width: 100%;
          margin-bottom:18px;
          padding-top:0;
          padding-bottom:0;
          li {
            float:left;
            width:100%;
            &:first-child {
              padding-top:0;
            }
            &:last-child {
            }
            a {
              display:inline-block;
              font-size: floor(($font-size-base * 1.1));
              padding:4px 20px 4px 0px;
              margin-bottom: 2px;
            }
            &:hover ul {
              display:none;
            }
          }
        }
        &.hasChild {
          a {
            &.toggleSub {
              display:inline-block;
              width:30px;
              height:30px;
              line-height: 28px;
              position:absolute;
              right:0;
              margin:0;
              padding:0;
              text-align:center;
              //font-size: 16px;
              color: #fff;
              @include heading_medium;
            }
          }
        }
        &.nav-meta {
          background:$sushi;
          &:last-child {
            margin-bottom: 14px;
          }
        }
      }
    }
    #social-single {
      display: block;
      color: #fff;
      border-top:1px solid $sushi;
      @include gradient-vertical($sushi-link, $sushi, 0%, 100%);
      width: 100%;
      clear: both;
      float: left;
      padding-top:12px;
      padding-bottom:12px;
      margin-bottom:12px;
      .bs-item {
        display: block;
        line-height: 18px;
        margin-right: 30px;
        margin-bottom: 8px;
        width: 100%;
        clear: both;
        float: left;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          display: inline-block;
          background-repeat: no-repeat;
          width: 40px;
          height: 35px;
          padding-top: 40px;
          overflow: hidden;
          margin-right:0;
          color: #fff;
          float: left;
          &.bs-twitter {
            @include sprite(transparent, -50px,-202px);
          }
          &.bs-facebook {
            @include sprite(transparent, -50px,-253px);
          }
        }
        span {
          display: inline-block;
          @include heading_medium;
          text-shadow:1px 1px 1px rgba(0,0,0,.25);
          color: #fff;
          float: left;
          margin-top: 12px;
          margin-left: 8px;
        }
      }
    }
    .search-single {
      position:relative;
      label {
        display:none;
      }
      form {
        position:relative;
        width: 100%;
        clear: both;
        float: left;
        .form-text {
          @include trans;
          background:#318000;
          border:none;
          padding:18px 65px 16px 18px;
          height:58px;
          margin:0;
          font-size:14px;
          @include sansserif_light;
          color:#fff;
          width:100%;
          &:hover,
          &:focus {
            color:#fff;
          }
          &:focus {
            color:#fff;
          }
          &::-webkit-input-placeholder {
             color: #fff;
             opacity: 1;
          }
          &:-moz-placeholder { /* Firefox 18- */
             color:#fff;
             opacity: 1;
          }
          &::-moz-placeholder {  /* Firefox 19+ */
             color: #fff;
             opacity: 1;
          }
          &:-ms-input-placeholder {
             color: #fff;
             opacity: 1;
          }
        }
        .search-submit {
          @include sprite(transparent,-49px,-95px);
          text-indent:-99999px;
          border:none;
          display:inline-block;
          margin:0;
          padding:0;
          width:50px;
          height:58px;
          position:absolute;
          top:0;
          right:0;
          @include trans;
          &:hover {
            //background-position: 0 -147px;
          }
        }
      }
    }
  }
}

/*no-js exoand panel*/
.no-js .navList ul {
  display:block;
}

/*==START small (tablet) menu format*/
@include small {
  .navList {
    .navwrap {
      display: block!important;
    }
    ul {
      list-style:none;
      padding:0;
      margin:0 0 18px 0;
      text-align: center;
      li {
        display:inline-block;
        cursor: pointer;
        padding-left:0;
        margin:0 11px;
        &:first-child {
          margin-left: 0;
        }
        &.nav-home {
          text-indent: -99999px;
          width: 25px;
          height: 30px;
          a {
            display: block;
            @include sprite(transparent,-10px,-310px);
            height: 30px;
            &:hover {
              background-position: -10px -360px;
            }
          }
        }
        &.nav-meta {
          display: none;
        }
        a {
          padding:0;
          font-size: $font-size-base * 1.2;
          display: inline-block;
          @include heading_medium;
          @include trans;
          color: $sushi-link;
          &:hover {
            color: $brand-primary;
          }
          &.toggleSub {
            display:none!important;
          }
        }
        &.active {
          a {
            color:$brand-primary;
            &:hover {
              text-decoration: none;
            }
          }
        }
        ul {
          display: none!important;
        }
      }
    }
    .search-single,
    #social-single {
      display:none;
    }
  }
  #toggleNav.menuclose,
  #toggleNav.iconbar {
    display:none;
  }
}

@include large {
  .navList {
    ul {
      position: absolute;
      bottom:39px;
      right: $grid-gutter-width;
      width: auto;
      display: inline-block;
      margin-bottom: 0;
      li {
        margin: 0 0 0 36px;
        a {
          font-size: $font-size-base * 1.365;
        }
        &.nav-home {
          margin-right: 0;
        }
      }
    }
  }
}