/*footer components*/

.siteinfo-nav {
  background:$desertstorm;
  ul {
    margin:18px 0 16px 0;
    padding:0;
    list-style:none;
    overflow:hidden;
    li {
      margin:0 0 4px 0;
      padding:0;
      display: block;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        @include heading_light;
        @include trans;
        font-size: $font-size-base;
      }
      @include small {
        display: inline-block;
        margin:0 6px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      @include medium {
        margin:0 10px;
        a {
          font-size: $font-size-base*1.1;
        }
      }
      &.active {
        a {
          color: $brand-primary;
        }
      }
    }
  }
}

#siteinfo {
  padding-top:$baseline;
  padding-bottom:$baseline;
  background: $brand-secondary;
  width: 100%;
  color: #fff;

  .siteinfo-social {
    display: block;
    position: relative;
    overflow:hidden;
    .ss-item {
      display: inline-block;
      line-height: 18px;
      margin-right: 30px;
      a {
        display: inline-block;
        width: 35px;
        height: 35px;
        padding-top: 40px;
        overflow: hidden;
        margin-right:0;
        color: #fff;
        float: left;
        &.ss-twitter {
          @include sprite(transparent, -56px,-202px);
        }
        &.ss-facebook {
          @include sprite(transparent, -56px,-253px);
        }
      }
      span {
        display: inline-block;
        @include heading_medium;
        font-size: $font-size-base;
        text-shadow:1px 1px 1px rgba(0,0,0,.25);
        color: #fff;
        float: left;
        margin-top: 12px;
        margin-left: 12px;
      }
    }
  }

  .siteinfo-copy {
    @include sansserif_light;
    font-size: $font-size-small;
    margin-bottom: 8px;
    color: #fff;
  }

  ul.siteinfo-nav-meta {
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    li {
      margin:0 0 4px 0;
      padding:0;
      display: block;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        @include sansserif_regular;
        @include trans;
        font-size: $font-size-small;
        color: #fff;
      }
      @include small {
        display: inline-block;
        margin:0 6px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      &.active {
        a {
          color: #fff;
          text-shadow:1px 1px 1px rgba(0,0,0,.85);
        }
      }
    }
  }
}