#aside {
  position: relative;
}
.aside-section {
  position: relative;
  overflow:visible;
  margin-bottom: $baseline;
  width: 100%;
  float: left;
  clear: both;
  &.as-img-lead {
    @include medium {
      position: relative;
      top: -160px;
      margin-bottom: -128px;
    }
  }
  &.as-negative-lead {
    margin-bottom: 0;
    @include medium {
      position: relative;
      top: -165px;
      margin-bottom:18px;
    }
  }
}

.aside-cta {
  border: 1px solid $alto;
  padding: 20px 20px 0 20px;
  margin-bottom: $baseline;
  position:relative;
  width: 100%;
  float: left;
  clear: both;
  a {
    img {
      border:none;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .aside-cta-heading {
      text-decoration: none;
      margin-top: 6px;
      margin-bottom: 8px;
      display: inline-block;
    }
    &:hover {
      .aside-cta-heading {
        text-decoration: underline;
      }
    }
  }
  p {
    margin-bottom: 20px;
    font-size: $font-size-base-small*1.12;
    line-height: 26px;
  }
}