/*branding/header components*/
#branding {
  @include small {
    border-top:2px solid $sushi;
  }
  .col {
    padding-left: 0;
    padding-right:0;
    position:relative;
    @include small {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
  }
  #branding-logo {
    margin:8px 0 8px 12px;
    position:relative;
    a {
      display:inline-block;
      position:relative;
      width:auto;
      height:48px;
      background: url(../../img/logos/bishops-brand-ident.png) 0 0 no-repeat;
      background: none, url(../../img/logos/bishops-brand-ident.svg) 0 0 no-repeat;
      background-size: auto 100%;
      padding-left:110px;
      text-decoration: none;
      span {
        display: block;
        line-height: 28px;
        span.bl-name-primary,
        span.bl-name-secondary {
          @include heading_bold;
          text-transform: uppercase;
          display: inline;
          font-size: floor(($font-size-base * 1.2));
        }
        span.bl-name-primary {
          color: $brand-primary;
        }
        span.bl-name-secondary {
          color: $sushi;
        }
        span.bl-strapline {
          display: block;
          color: #455560;
          text-transform: lowercase;
          font-size: $font-size-base;
          @include heading_medium;
          line-height:18px;
        }
      }
      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
    @media only screen and (min-width: 520px) {
      margin-bottom:12px;
      a {
        padding-top:12px;
        span {
          span.bl-name-primary,
          span.bl-name-secondary {
            font-size: floor(($font-size-base * 1.4));
          }
          span.bl-name-primary {
          }
          span.bl-name-secondary {
          }
          span.bl-strapline {
            padding-left:4px;
            display: inline;
            font-size: $font-size-base;
            line-height:18px;
          }
        }
      }
    }
    @include small {
      margin: 0;
      margin-top: 20px;
      margin-bottom:28px;
      a {
        display:block;
        position:relative;
        width:218px;
        height:138px;
        background: url(../../img/logos/bishops-brand.png) 0 0 no-repeat;
        background: none, url(../../img/logos/bishops-brand.svg) 0 0 no-repeat;
        background-size: auto 100%;
        padding-left:0;
        padding-top:0;
        span {
          display: none;
        }
      }
    }
    @include large {
      margin-top: 26px;
      margin-bottom:34px;
      a {
        width:274px;
        height:174px;
      }
    }
  }
  form.branding-search {
    display:none;
    @include small {
      display:block;
      position:relative;
      margin:0;
      width:280px;
      display: block;
      position:absolute;
      top:0;
      right:$grid-gutter-width/2;
      label {
        display:none;
      }
      .form-text {
        @include trans;
        background:#f4f4f4;
        padding:17px 55px 16px 22px;
        margin:0;
        font-size:15px;
        color:#888;
        @include sansserif_light;
        border:none;
        width: 100%;
        &:hover,
        &:focus {
          color:#000;
        }
        &:focus {
          color:#000;
          @include sansserif_light;
        }
        &::-webkit-input-placeholder {
           color:#888;
           opacity: 1;
        }
        &:-moz-placeholder { /* Firefox 18- */
           color:#888;
           opacity: 1;
        }
        &::-moz-placeholder {  /* Firefox 19+ */
           color:#888;
           opacity: 1;
        }
        &:-ms-input-placeholder {
           color:#888;
           opacity: 1;
        }
      }
      .search-submit {
        @include sprite(transparent,0,-97px);
        text-indent:-99999px;
        border:none;
        display:inline-block;
        margin:0;
        padding:0;
        width:50px;
        height:54px;
        position:absolute;
        top:0;
        right:0;
        @include trans;
        &:hover {
          background-position: 0 -147px;
        }
      }
    }
    @include medium {
      right:$grid-gutter-width;
    }
  }
  #branding-social {
    display: none;
    @include small {
      display: block;
      position:absolute;
      top:78px;
      right:$grid-gutter-width/2;
      text-align: right;
      @include heading_light;
      color: $text-color;
      .bs-item {
        float: left;
        display: inline-block;
        margin-left: 60px;
        line-height: 18px;
        &:first-child {
          margin-left: 0;
        }
        a {
          display: inline-block;
          background-repeat: no-repeat;
          width: 40px;
          height: 35px;
          padding-top: 40px;
          overflow: hidden;
          margin-left: 8px;
          &.bs-twitter {
            @include sprite(transparent, 0,-205px);
          }
          &.bs-facebook {
            @include sprite(transparent, 0,-255px);
          }
        }
        span {
          display: block;
          @include heading_light;
          color: $text-color;
        }
      }
    }
    @include medium {
      right:$grid-gutter-width;;
    }
  }

  #branding-meta {
    display: none;
    @include small {
      display: block;
      position:absolute;
      top:14px;
      right:335px;
      ul {
        list-style:none;
        padding:0;
        margin: 0;
        li {
          padding: 0;
          margin: 0 0 0 18px;
          display: inline-block;
          font-size: $font-size-base-small;
          a {
            @include sansserif_light;
            color: $text-color;
            color: $text-color;
          }
        }
      }
    }
  }

}