.breadcrumb {
  padding:12px 0;
  margin:0;
  list-style: none;
  border-radius:0;
  position:relative;
  overflow:hidden;
  color: #fff;
  > li {
    display:inline-block;
    margin: 0;
    padding: 0;
    @include heading_light;
    font-size: $font-size-base;
    &:before {
      content: "";
      padding-right: 0;
    }
    + li:before {
      padding:0 6px;
    }
		a {
      @include heading_medium;
      color: #fff;
      &:hover {
        color: #fff;
      }
		}
  }
  > .active {
    @include heading_light;
    color: #fff;
  }
  @include small {
    text-align: center;
  }
  @include medium {
    text-align: left;
  }
}