q {
  font-style: italic;
}

cite {
  @include heading_light;
  color: $brand-primary;
  display: block;
  font-size: 18px;
}

main,
.contentwrap {
  blockquote {
    position:relative;
    margin:0;
    padding:0;
    border:none;
    margin-top: $baseline*2;
    margin-bottom: $baseline*2;
    @include medium {
      margin-left: 8%;
    }
    &:before {
      content:"“";
      font-family: serif;
      color: $gray-light;
      width:32px;
      height:32px;
      font-size: 48px;
      position:absolute;
      z-index:0;
      overflow:hidden;
      top:0;
      left:0;
      text-indent: 0;
      line-height: 42px;
      @include medium {
        top:-24px;
        left:0;
      }
    }
    p {
      padding-top:28px;
      @include heading_light;
      font-style: italic;
      font-size: $font-size-base * 1.45;
      margin-bottom:18px;
      position:relative;
      line-height: 1.5;
      @include medium {
        padding-top:8px;
      }
    }
    cite {
      font-size: floor(($font-size-base * 1.15)); //18
      @include heading_medium;
    }
  }
}

.contentwrap aside {
  blockquote {
    position:relative;
    margin:0;
    padding:0;
    border:none;
    margin-left: 0;
    margin-top: $baseline;
    &:before {
      content:"“";
      font-family: serif;
      color: $gray-light;
      width:32px;
      height:32px;
      font-size: 48px;
      position:absolute;
      z-index:0;
      overflow:hidden;
      top:0;
      left:0;
      text-indent: 0;
      line-height: 42px;
      @include medium {
        top:-24px;
        left:0;
      }
    }
    p {
      padding-top:28px;
      @include heading_light;
      font-style: italic;
      font-size: $font-size-base * 1.25; //20
      margin-bottom:18px;
      position:relative;
      line-height: 1.5;
      @include medium {
        padding-top: 0;
      }
    }
    cite {
      font-size: floor(($font-size-base * 1.15)); //18
      @include heading_medium;
    }
  }
}