.contentwrap {
  #main p a.button,
  a.button,
  .btn,
  .form-submit {
    padding:10px 22px 8px;
    display:inline-block;
    @include trans;
    text-decoration:none;
    @include heading_bold;
    color:#fff;
    cursor: pointer;
    margin-bottom:$baseline*1.5;
    background:$sushi;
    border:1px solid $sushi;
    text-align: center;
    font-size: $font-size-base*1.225;
    text-decoration: none;
    &:hover {
      text-decoration:none;
      background:$sushi-link;
      border-color:$sushi-link;
      color: #fff;
    }
  }
}

/*boostrap override form styles*/
.form-standard,
form {
  .form-panel {
    margin-bottom:$baseline;
  }
  .form-group {
    margin-bottom:$baseline;
    font-size:$font-size-base;
    color:$text-color;
    label {
      display:block;
      margin-bottom:18px;
      font-size:$font-size-base;
      color:$text-color;
      @include sansserif_regular;
      .required {
        color:$brand-danger;
        display:inline-block;
        margin-left:5px;
      }
    }
  }
  .required {
    color:$brand-danger;
    display:inline-block;
    margin-left:5px;
  }
  .form-control {
    padding:10px 16px;
    height:auto;
    @include trans;
    background:#fff;
    border:1px solid $alto;
    width:100%;
    font-size: $font-size-base-small; //14
    box-shadow:none;
    @include xsmall {
      width:auto;
      min-width:440px;
    }
    &:hover {
      box-shadow:none;
      border-color:$gray-light;
    }
    &:focus {
      box-shadow:none;
      background: #fff;
      color: $gray-base;
      border-color:$gray-light;
    }
  }
  input.form-control,
  textarea.form-control {
    &:hover {
      box-shadow:none;
      border-color:$gray-light;
    }
    &:focus {
      box-shadow:none;
      color: $gray-base;
      border-color:$gray-light;
    }
  }
  textarea {
    padding-top:12px;
    padding-bottom:12px;
  }
}