@include small-only {
	/* Force table to not be like tables anymore */
	table,
  thead,
  tbody,
  th,
  td,
  tr {
  	display:block;
   }
	/* Hide table headers (but not display: none;, for accessibility) */
	table,
  .table {
    margin-bottom:$baseline*2;
    thead {
      tr {
    		position:absolute;
    		top:-9999px;
				left:-9999px;
      }
    }
  }
	table,
  .table {
    tbody {
      tr {
        margin-bottom:$baseline;
        border-bottom:1px solid $alto;
        td {
  				border:none;
          padding:10px 0 5px 0;
          background:#fff;
          &:first-child {
            padding-top:20px;
          }
          &:last-child {
            padding-bottom:20px;
          }
        }
      }
    }
    &.table-striped {
      tbody {
        tr {
          margin-bottom:0;
          td {
            padding-left:15px;
            padding-right:15px;
            &:first-child {
              padding-top:20px;
            }
          }
        }
      }
    }
  }
}

@include small {
  table,
  .table {
    border-collapse:collapse;
    border-spacing:none;
    margin-bottom:$baseline;
    border:1px solid $alto;
    > thead > tr > th {
      background:$brand-primary;
      @include heading_bold;
      font-size: $font-size-base*1.2; //16
      padding:14px 25px 14px 20px;
      text-align:left;
      border-bottom:1px solid $alto;
      border-right:1px solid $alto;
      color: #fff;
    }
    > tbody {
      > tr > td {
        padding:14px 25px 14px 20px;
        vertical-align:top;
        border-bottom:1px solid $alto;
        border-right:1px solid $alto;
        background:#fff;
        -ms-word-wrap: break-word;
        -ms-word-wrap: break-word; // w-wrap and o-wrap are identical, but IE/Edge doesn’t support o-wrap yet.
        overflow-wrap: break-word;
      }
    }
  }
}