img {
  margin-bottom: $baseline;
  border: 1px solid $alto;
  &.th {
    @include xsmall {
      float: left;
      margin-top: 8px;
      margin-right: 35px;
      margin-bottom: $baseline;
    }
  }
}

a img {
  @include trans;
  @include img-border-link;
  &:hover {
    @include img-border-link-hover;
  }
}

img.aside-img-lead {
  margin-bottom: 0;
  float: left;
  clear: both;
  @include medium {
    border: 1px solid #fff;
    box-shadow:0 0 18px rgba(0,0,0,.185);
  }
}

img.hero-meta {
  border:none;
  margin:0;
  position: absolute;
  z-index: 50;
  border: 1px solid #fff;
  box-shadow:0 0 12px rgba(0,0,0,.15);
  display: none;
  @include xsmall {
    display: block;
    left:inherit;
    top: 30px;
    right: 30px;
  }
  @include medium {
    top: $grid-gutter-width*3;
    right: $grid-gutter-width*2;
  }
}

img.aside-img-meta {
  border: 1px solid #fff;
  box-shadow:0 0 12px rgba(0,0,0,.15);
  float: left;
  clear: both;
  @include medium {
    float: none;
    clear: none;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

img.siteinfo-img-meta {
  position:relative;
  margin-top: 20px;
  box-shadow:0 0 12px rgba(0,0,0,.15);
  margin-bottom: 0;
  @include small {
    margin-top: 0;
    position:absolute;
    right: $grid-gutter-width;
    top: 88px;
  }
  @include large {
    right: 0;
    top:18px;
  }
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}