/*pagination*/
.pager {
  ul.pager-items {
    margin:0;
    overflow:hidden;
    height:auto;
    list-style:none;
    padding:0;
    width:100%;
    @include small {
      float:left;
      width:60%;
    }
    li {
      height:auto;
      display:inline-block;
      padding:0;
      background:#fff;
      margin-right:2px;
      margin-bottom:12px;
      line-height:18px;
      text-align:center;
      border:1px solid $brand-secondary;
      @include trans;
      a {
        width:40px;
        height:40px;
        line-height: 40px;
        display:inline-block;
        text-decoration: none;
      }
      &:hover {
        border-color:$brand-secondary;
        a {
          border-color:$brand-secondary;
          color:#fff;
          text-shadow: 1px 1px 0 rgba(0,0,0,.25);
          background:$brand-secondary;
          text-decoration:none;
        }
      }
      &.active {
        border-color:$brand-secondary;
        a {
          background:$brand-secondary;
          color:#fff;
          text-shadow: 1px 1px 0 rgba(0,0,0,.25);
          &:hover {
            text-decoration:none;
          }
        }
      }
    }
  }
  ul.pager-aside {
    margin:0;
    padding:0;
    overflow:hidden;
    height:auto;
    list-style:none;
    display:inline-block;
    width:100%;
    @include small {
      margin:0 0 $baseline*2 0;
      float:left;
      width:40%;
      text-align:right;
    }
    li.previous,
    li.next {
      display:inline-block;
      a {
        @include trans;
        @include sansserif_regular;
        font-size: $font-size-base-small; //14
        line-height: 40px;
        text-decoration: none;
        &:hover {
          text-decoration:underline;
        }
      }
    }
    li.previous {
      margin-right:10px;
    }
  }
}