.main-panel {
  position:relative;
  overflow:hidden;
  padding-bottom:$baseline;
  margin-bottom: $baseline*2;
}

.panel-fullwidth {
  width: 100%;
  position:relative;
  overflow:hidden;
  padding-bottom:$baseline;
  @include medium {
    padding-bottom:0;
  }
}