#hero {
  background: $sushi-link;
  margin-bottom: $baseline*2;
  border-top: 2px solid $sushi;
  border-bottom: 2px solid $sushi;
  overflow: hidden;
  &.container-fluid {
    //padding-left: 0;
    //padding-right: 0;
    .row {
      //margin-left: auto;
      //margin-right: auto;
      .col {
        @include medium-only {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
.owl-carousel {
  @include medium {
    box-shadow:0 0 24px rgba(0,0,0,.25);
    border: 1px solid #fff;
  }
}
.owl-carousel .item {
  position:relative;
  z-index: 5;
  height: 100%;
  .owl-carousel-summary {
    position:relative;
    z-index: 40;
    position:absolute;
    left:0px;
    bottom: -35px;
    @include xsmall {
      left:20px;
      bottom: 20px;
    }
    @include small {
      left:30px;
      bottom: 30px;
    }
    h2 {
      color: #fff;
      padding:6px 16px;
      position: relative;
      margin:0;
      z-index: 1;
    }
  }
  .owl-carousel-content {
    img {
      margin: 0;
      border:none;
    }
  }
}