.aside-menu {
  position:relative;
  overflow:hidden;
  background:$desertstorm;
  .h1,.h2,.h3,.h4,.h5,.h6,
  h1,h2,h3,h4,h5,h6 {
    margin:0 0 18px 0;
    padding:11px 22px;
    background:$brand-secondary;
    color: #fff;
    font-size: $font-size-base*1.6;
  }
  ul {
    margin:0;
    padding:0;
    list-style:none;
    li {
      margin:0 0 10px 0;
      padding:0 22px;
      font-size: $font-size-base;
      @include heading_light;
      a {
        @include heading_light;
        text-decoration:none;
        color: $text-color;
        font-size: $font-size-base*1.125;
        &:hover {
          color:$link-hover-color;
          text-decoration:underline;
        }
      }
      &.active-trail {
        a {
          @include heading_bold;
          color: $brand-primary;
        }
        li {
          padding:0;
          margin-bottom: 8px;
          a {
            @include heading_light;
            color: $text-color;
          }
          &.active-trail {
            a {
              @include heading_bold;
              color: $brand-primary;
            }
          }
        }
      }
      ul {
        margin:6px 0 12px 18px;
        li {
          a {
            font-size: $font-size-base*1.065;
          }
        }
      }
    }
  }
}