#hero {
  margin-bottom: $baseline*2;
  border-top: 2px solid $sushi;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $baseline*2;
  &.container-fluid {
    .row {
      .col {
        @include medium-only {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
  @include medium {
    &:before {
      content:"";
      width:200%;
      height:100px;
      position:absolute;
      background:$sushi;
      z-index:0;
      top:0;
      left:0;
      text-indent:-9999px;
      overflow:hidden;
    }
  }
  .hero {
    position:relative;
    text-align: center;
    width: 100%!important;
    img.hero-image {
      width: 100%;
      z-index: 0;
      margin:0 auto;
      border:none;
      @include xlarge {
        width: 75em;
        height: auto;
      }
    }
    .hero-title {
      @include heading_bold;
      @include medium {
        margin: 0;
        position:relative;
        top: -28px;
        display: inline-block;
        padding:16px 30px;
        background:$sushi;
        text-shadow:1px 1px 1px rgba(0,0,0,.25);
        color: #fff;
        a {
          color: #fff;
          @include heading_bold;
          font-size:$font-size-base*1.85;
        }
      }
    }
    .hero-cover {
      background:#fff;
      z-index: 5;
      .hc-expand {
        padding:10px 15px 28px;
        text-align: left;
      }
      @include medium {
        background:transparent;
        position: absolute;
        width: 68vw;
        height: 40vh;
        bottom:1px;
        left:0;
        .hc-expand {
          position:absolute;
          bottom:0;
          left: 0;
          padding: 0 35px 32px 40px;
          min-width: 320px;
          max-width: 640px;
          background:$brand-primary;
        }
        .hero-description {
          color: #fff;
          margin-bottom: 0;
        }
      }
      @include large {
        width: 45vw;
        height: 40vh;
        .hc-expand {
          max-width: 600px;
        }
      }
    }
    .hero-description {
      @include sansserif_regular;
      font-size: $font-size-base-small;
    }
  }
}