#leader {
  padding-top: $baseline/2;
  padding-bottom: 18px;
  background: $sushi;
  color: #fff;
  h1,h2,h3,h4,h5,
  .h1,.h2,.h3,.h4,.h5 {
    color: #fff;
    margin:0;
    @include heading_medium;
  }
  @include small {
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
  }
  @include medium {
    text-align: left;
  }
}

#leader-supp {
  background: $brand-primary;
}