.listings-header {
  margin-bottom:$baseline/1.25;
  position: relative;
  h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6 {
    margin-top: 0;
  }
  h3 {
    margin-bottom: 8px;
    position: relative;
    @include xsmall {
      padding-right:150px;
      margin-bottom: 0;
    }
  }
  .listings-cta {
    font-size: $font-size-base-small;
    @include sansserif_regular;
    @include xsmall {
      position: absolute;
      top: 8px;
      right: 0;
    }
    @include small {
      top: 10px;
    }
    a {
      @include sansserif_semibold;
    }
  }
}


a.twitter-follow {
  display: inline-block;
  overflow: hidden;
  color: $twitter-color;
  padding-left: 40px;
  @include sprite(transparent, -10px,-213px);
  text-decoration: none;
  line-height: 24px;
  &:hover {
    text-decoration: underline;
  }
}

.listings-content-block {
  margin-bottom: $baseline;
  position:relative;
  overflow: hidden;
  width: 100%;
  @include medium {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }
  div.col {
    @include medium {
      display: flex;
    }
    .lcb-item {
      margin-bottom: 18px;
      padding:18px 20px;
      background:$desertstorm;
      position: relative;
      overflow: hidden;
      @include medium {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      h4 {
        margin-bottom: 10px;
        font-size: floor(($font-size-base * 1.25));
        @include heading_medium;
        a {
          text-decoration: none;
          @include trans;
          @include heading_medium;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p {
        margin-bottom: 0;
        font-size: $font-size-base-small;
      }
    }
  }
}

.listing-resource {
  margin-bottom: $baseline;
  position:relative;
  &.lr-icon {
    padding-left:55px;
  }
  h4 {
    margin-bottom: 8px;
    a {
      display:inline-block;
      position:relative;
      text-decoration: none;
      @include heading_medium;
      font-size:$font-size-base*1.2;
      margin-bottom: 4px;
      width: 100%;
      &:hover {
        text-decoration: underline;
      }
      span.icon {
        display:block;
        width:40px;
        height:45px;
        position:absolute;
        left:-55px;
        top:2px;
        img {
          border: none;
        }
      }
    }
    .lr-meta {
      display: block;
      position:relative;
      font-size:$font-size-base;
      color: $text-color;
    }
  }
  p {
    margin-bottom: 0;
    font-size:$font-size-base-small;
  }
}

.listings-horizontal {
  margin-bottom: $baseline;
  .lh-item {
    margin-bottom: $baseline*2;
    padding-bottom: $baseline*2;
    border-bottom: 1px solid $alto;
    position: relative;
    overflow: hidden;
    @include medium {
      border:none;
      padding-bottom:0;
    }
    a {
      text-decoration: none;
      img {
        margin-bottom: 20px;
        @include img-border-link;
        @include trans;
        @include small {
          width: 32%;
          float: left;
          margin-top: 6px;
          margin-right: 30px;
        }
      }
      &:hover {
        text-decoration: underline;
        img {
          @include img-border-link-hover;
        }
        h3 {
          color:$link-hover-color;
        }
      }
    }
    p {
      margin-bottom: 0;
      &.lh-date {
        margin-bottom: 14px;
        font-size: $font-size-base-small;
        @include sansserif_regular;
      }
      &.lh-summary {
        font-size: $font-size-base-small;
        a {
          @include sansserif_light;
        }
      }
    }
  }
}

.listings-vertical-events {
  position:relative;
  overflow: hidden;
  width: 100%;
  @include small {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }
  div.col {
    @include small {
      display: flex;
    }
    .lv-item {
      margin-bottom: $baseline;
      position: relative;
      overflow: hidden;
      @include small {
        display: flex;
        flex-direction: column;
        padding-bottom: $baseline;
      }
      p.lv-date {
        border-bottom:1px solid $sushi;
        color: $brand-primary;
        @include heading_medium;
        font-size: $font-size-base*1.3;
        padding-bottom:18px;
        margin-bottom: 24px;
      }
      .lv-heading {
        margin-bottom: 12px;
        font-size: $font-size-base*1.3;
        a {
          text-decoration:none;
          @include heading_medium;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p.lv-meta {
        margin-bottom: 12px;
        font-size: $font-size-base-small;
        @include sansserif_regular;
      }
      p.lv-summary {
        margin-bottom: 0;
        font-size: $font-size-base-small;
        a {
          @include sansserif_light;
        }
      }
      .lv-image {
        border:none;
        margin-top: 4px;
      }
    }
  }
}

.listings-vertical-news {
  position:relative;
  overflow: hidden;
  width: 100%;
  @include small {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }
  div.col {
    @include small {
      display: flex;
    }
    .lv-item {
      margin-bottom: $baseline;
      position: relative;
      overflow: hidden;
      @include small {
        display: flex;
        flex-direction: column;
        padding-bottom: $baseline;
      }
      .lv-heading {
        padding-bottom:18px;
        margin-bottom: 24px;
        border-bottom:1px solid $sushi;
        @include heading_medium;
        font-size: $font-size-base*1.3;
        @include small {
          min-height: 80px;
        }
        a {
          text-decoration:none;
          @include heading_medium;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p.lv-meta {
        margin-bottom: 12px;
        font-size: $font-size-base-small;
        @include sansserif_regular;
      }
      p.lv-summary {
        margin-bottom: 0;
        font-size: $font-size-base-small;
        a {
          @include sansserif_light;
        }
      }
    }
  }
}

.listings-vertical-twitter {
  position:relative;
  overflow: hidden;
  width: 100%;
  @include small {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }
  div.col {
    @include small {
      display: flex;
    }
    .lv-item {
      margin-bottom: $baseline;
      position: relative;
      overflow: hidden;
      @include small {
        display: flex;
        flex-direction: column;
        padding-bottom: $baseline;
      }
      p.lv-meta {
        padding-bottom:12px;
        margin-bottom: 12px;
        font-size: $font-size-base-small;
        @include sansserif_regular;
        border-bottom:1px solid $sushi;
      }
      p.lv-summary {
        margin-bottom: 0;
        font-size: $font-size-base-small;
        a {
          @include sansserif_light;
        }
      }
    }
  }
}

.listings-teasers {
  position:relative;
  overflow: hidden;
  width: 100%;
  .col {
    @include xsmall-only  {
      width: 100%
    }
  }
  .lt-item {
    margin-bottom: $baseline/2;
    position: relative;
    overflow: hidden;
    display: inline-block;
    a {
      display: block;
      border:1px solid $sushi;
      position:relative;
      @include trans;
      text-decoration: none;
      .lt-heading {
        color: #fff;
        background:$brand-secondary;
        border-top:1px solid $sushi;
        display: block;
        margin: 0;
        padding:14px 22px;
        @include heading_bold;
        font-size: $font-size-base*1.3;
        @include trans;
        text-decoration: none;
      }
      img.lt-image {
        margin-bottom: 0;
        border:none;
      }
      @include small {
        .lt-heading {
          display: inline-block;
          position:absolute;
          bottom:-1px;
          left:-1px;
          border:1px solid $sushi;
        }
      }
      &:hover {
        border-color:$brand-secondary-darken;
        .lt-heading {
          text-shadow:1px 1px 1px rgba(0,0,0,.25);
          background:$brand-secondary-darken;
          text-decoration: none;
          border-color:$brand-secondary-darken;
        }
      }
    }
  }
}